@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

* {
    box-sizing: border-box;
}

body {
    line-height: 1.5;
    font-size: 100%;
    margin: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
input {
    font-family: 'Source Sans Pro', sans-serif;
    -webkit-font-smoothing: antialiased;
}

img {
    max-width: 100%;
}

/*********
* CUSTOM
*/
.item>h3 {
    font-size: 32px;
    line-height: 1.5;
}

.serif {
    font-family: 'Source Serif Pro', serif;
}

.container {
    max-width: 73.75rem;
    padding-right: 2rem;
    padding-left: 2rem;
    margin-left: auto;
    margin-right: auto;
}

.no-underline {
    text-decoration-line: none;
}

.no-underline:hover {
    text-decoration-line: underline;
}

/*********
* FONT SIZE
*/
.h3 {
    font-size: 1.625rem;
}

.h4 {
    font-size: 1.375rem;
}

.h5 {
    font-size: 1.125rem;
}

/*********
* FONT WEIGHT
*/
.regular {
    font-weight: 400;
}

/*********
* FLEX
*/
.basis-auto {
    flex-basis: auto;
}

.grow-0 {
    flex-grow: 0;
}

.shrink-0 {
    flex-shrink: 0;
}

.flex-none {
    flex: none;
}

.flex-auto {
    flex: auto;
}

.sm-show {
    display: none;
}

/*********
* BACKGROUND COLOR
*/
.bg-green {
    background-color: #65D777 !important;
}

.bg-gray {
    background-color: #e9ecef!important;
}

.bg-white {
    background-color: #fff!important;
}

/*********
* COLOR
*/
.gray {
    color: #949EB2;
}

.slate {
    color: #38404F;
}

.med-gray {
    color: #778298;
}

.dark-blue {
    color: #091836;
}

.white {
    color: #fff;
}

.red {
    color: #DE3F1C;
}

/*********
* BORDER
*/
.rounded {
    border-radius: 3px;
}

.rounded-right {
    border-radius: 0 3px 3px 0;
}

.rounded-left {
    border-radius: 3px 0 0 3px;
}


.border-top {
    border-top: 1px solid rgba(0, 0, 0, .125);
}

.border-bottom {
    border-bottom: 1px solid rgba(0, 0, 0, .125);
}

.border-none {
    border: none;
}


/*********
* GRID COL
*/
.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}


/*********
* MEDIA QUERIES
*/
@media (max-width: 768px) {
    .sm-hide {
        display: none !important;
    }

    .sm-show {
        display: block !important;
    }
}

@media (min-width: 52em) {
    .md-col-1 {
        width: 8.33% !important;
    }

    .md-col-2 {
        width: 16.66% !important;
    }

    .md-col-3 {
        width: 25% !important;
    }

    .md-col-4 {
        width: 33.33% !important;
    }

    .md-col-5 {
        width: 41.66% !important;
    }

    .md-col-6 {
        width: 50% !important;
    }

    .md-col-7 {
        width: 58.33% !important;
    }

    .md-col-8 {
        width: 66.66% !important;
    }

    .md-col-9 {
        width: 75% !important;
    }

    .md-col-10 {
        width: 83.33% !important;
    }

    .md-col-11 {
        width: 91.66% !important;
    }

    .md-col-12 {
        width: 100% !important;
    }

    .md-flex {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
}

/*********
* DISPLAY
*/
.d-none {
    display: none !important;
}

.d-flex {
    display: flex;
}

/*********
* JUSTIFY
*/
.justify-between {
    justify-content: space-between !important;
}

.justify-center {
    justify-content: center !important;
}

.justify-end {
    justify-content: end !important;
}

/*********
* ALIGN ITEM
*/
.items-center {
    align-items: center !important;
}

/*********
* PADDING
*/
.p-1 {
    padding: 1rem;
}

.p-2 {
    padding: 2rem;
}

.p-3 {
    padding: 3rem;
}

/*********
* PADDING Y AXIS
*/
.py-1\/2 {
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.py-1 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.py-2 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.py-3 {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.py-4 {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

/*********
* PADDING X AXIS
*/
.px-1 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.px-2 {
    padding-left: 2rem;
    padding-right: 2rem;
}

.px-3 {
    padding-left: 3rem;
    padding-right: 3rem;
}

/*********
* MARGIN
*/
.m-0 {
    margin: 0;
}

/*********
* MARGIN RIGHT
*/
.mr-1\/2 {
    margin-right: .5rem;
}

.mr-1 {
    margin-right: 1rem;
}

.mr-2 {
    margin-right: 2rem;
}

.mr-3 {
    margin-right: 3rem;
}

/*********
* MARGIN BOTTOM
*/
.mb-1\/2 {
    margin-bottom: .5rem;
}

.mb-1 {
    margin-bottom: 1rem;
}

.mb-2 {
    margin-bottom: 2rem;
}

.mb-4 {
    margin-bottom: 4rem;
}

/*********
* MARGIN TOP
*/
.mt-0 {
    margin-top: 0;
}

.mt-1 {
    margin-top: 1rem;
}

.mt-2 {
    margin-top: 2rem;
}

/*********
* MARGIN X AXIS
*/
.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

/*********
* CUSTOM BUTTON
*/
.btn {
    font-family: inherit;
    font-size: inherit;
    font-weight: 600;
    cursor: pointer;
    display: inline-block;
    line-height: 1.125rem;
    padding: 0.5rem 1rem;
    margin: 0;
    height: auto;    
    vertical-align: middle;
    -webkit-appearance: none;
    color: inherit;
    background-color: transparent;
    border: 1px solid transparent!important;
}

.btn,
.btn:hover {
    text-decoration: none;
}

.shadow,
.btn-outline:hover {
    box-shadow: 0 0 1px 0 rgb(56 64 79 / 30%), 0 1px 1px 0 rgb(9 24 54 / 24%), 0 2px 5px 0 rgb(9 24 54 / 6%);
}

.btn-outline {
    border-radius: 3px;
}

.semibold,
.btn {
    font-weight: 600;
}

.btn-pad {
    height: auto !important;
    padding: 0.875rem 1.125rem !important;
    min-width: 11.25rem;
}