/**
* Grid template coloumns
*/
.grid-cols-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
}

.grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

.grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-cols-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-cols-5 {
    grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-cols-6 {
    grid-template-columns: repeat(6, minmax(0, 1fr));
}

/**
* Grid coloumn start/end
*/
.col-start-1 {
    grid-column-start: 1!important;
}

.col-start-2 {
    grid-column-start: 2!important;
}

.col-start-3 {
    grid-column-start: 3!important;
}

.col-start-4 {
    grid-column-start: 4!important;
}

.col-start-5 {
    grid-column-start: 5!important;
}

.col-end-1 {
    grid-column-end: 1!important;
}

.col-end-2 {
    grid-column-end: 2!important;
}

.col-end-3 {
    grid-column-end: 3!important;
}

.col-end-4 {
    grid-column-end: 4!important;
}

.col-end-5 {
    grid-column-end: 5!important;
}

.col-span-2 {
    grid-column: span 2 / span 2;
}

.col-span-3 {
    grid-column: span 3 / span 3;
}

.col-span-4 {
    grid-column: span 4 / span 4;
}


/**
* Grid row start/end
*/
.row-start-1 {
    grid-row-start: 1!important;
}

.row-start-2 {
    grid-row-start: 2!important;
}

.row-start-3 {
    grid-row-start: 3!important;
}

.row-start-4 {
    grid-row-start: 4!important;
}

.row-start-5 {
    grid-row-start: 5!important;
}

.row-end-1 {
    grid-row-end: 1!important;
}

.row-end-2 {
    grid-row-end: 2!important;
}

.row-end-3 {
    grid-row-end: 3!important;
}

.row-end-4 {
    grid-row-end: 4!important;
}

.row-end-5 {
    grid-row-end: 5!important;
}

.row-span-2 {
    grid-row: span 2 / span 2;
}

.row-span-3 {
    grid-row: span 3 / span 3;
}

.row-span-4 {
    grid-row: span 4 / span 4;
}