body,
h2 {
    margin: 0;
}

h2 {
    text-align: center;
}

#merah {
    background-color: rgb(255, 0, 0);
    color: yellow;
    grid-area: 1 / 1 / span 3 / 1;
}

#jingga {
    background-color: rgb(255, 166, 0);
    grid-area: 4 / 1 / span 3 / 1;
}

#hijau {
    background-color: rgb(8, 165, 16);
    grid-area: 1 / 2 / 1 / span 2;
}

#ungu {
    background-color: rgb(216, 147, 243);
    grid-area: 1 / 4 / 1 / span 2;
}

#pink {
    background-color: rgb(255, 138, 193);
    grid-area: 2 / 2 / span 3 / 3;
}

#hmuda {
    background-color: rgb(255, 251, 0, 0.8);
    grid-area: 2 / 3 / 2 / span 3;
}

#biru {
    background-color: rgb(21, 177, 0);
    grid-area: 3 / 3 / span 2 / 3;
}

#kuning {
    background-color: rgb(238, 255, 0);
    grid-area: 5 / 2 / span 2 / span 2;
}

#btua {
    background-color: rgb(0, 68, 255);
    color: yellow;
    grid-area: 3 / 4 / span 4 / span 2;
}

.grid-container {
    display: grid;
    grid-template-columns: ". . . . .";
    height: calc(100vh - 1.7em);
    background-color: #2196f3;
}

.grid-container>div {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}