:root {
    --bs-merah: rgb(224, 102, 102);
    --bs-jingga: rgb(255, 200, 0);
    --bs-hijau: rgb(0, 161, 93);
    --bs-ungu: rgb(142, 124, 195);
    --bs-pink: rgb(255, 159, 213);
    --bs-hijau-muda: rgb(254, 216, 73);
    --bs-kuning: rgb(238, 255, 0);
    --bs-biru-tua: rgb(61, 133, 198);
}

body,
h2 {
    margin: 0;
}

h2 {
    text-align: center;
}

.vh-100 {
    height: 100vh;
}

.d-grid {
    display: grid;
}

.d-flex {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.bg-merah {
    background-color: var(--bs-merah);
}

.bg-jingga {
    background-color: var(--bs-jingga);
}

.bg-hijau {
    background-color: var(--bs-hijau);
}

.bg-ungu {
    background-color: var(--bs-ungu);
}

.bg-pink {
    background-color: var(--bs-pink);
}

.bg-hijau-muda {
    background-color: var(--bs-hijau-muda);
}

.bg-kuning {
    background-color: var(--bs-kuning);
}

.bg-biru-tua {
    background-color: var(--bs-biru-tua);
}

.text-kuning {
    color: var(--bs-kuning);
}